body {
  background: white;
  background-image: url('../img/welcome-background.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #3c3c3c;
}

.intro--banner {
  img {
    position: absolute;
    bottom: 48px;
    right: -12px;
    width: 45%;
    @media screen and (max-width:767px) {
      bottom: 24px;
      width:50%;
    }
  }
  &:after {
    content: none;
  }
  &:before{
    background-color: #7193c3;
  } 
}

.l-side-nav {
  left: 0;
  &:before{
    background-color:#4b7fc5;
    opacity: 1;
    width: 2px;
  }
}
.side-nav {
  li {
    color: #164c96;
    font-size: 8px;
    &.is-active {
      &::before {
        color: #4b7fc5;
        font-weight: bold;
      }
    }
    &:before {
      color: #789ed3;
    }
    span {
      color: #4b7fc5;
      font-size:12px;
    }
  }
}

.welcome-triad {
  width:33%;
  text-align: center;
  @media screen and (max-width:767px) {
    display: none;
  }
}
.slidesContainer{
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  @media screen and (max-width:767px) {
    width:100%;
    max-width:100%;
  }
  h2 {
    font-size:55px;
    font-weight: 800;
    margin-bottom: 0;
    border-bottom: 2px solid #7193c3;
  }
  .slideUnit {
    display: flex;
    justify-content: space-between;
    h3 {
      margin: 0;
      margin-bottom: 0.5em;
    }
    .paragraphText {
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 2;
      margin-bottom: 3em;
      margin-top: 3em;
      width: 48%;
      .contextList {
        li {
          -webkit-backface-visibility: initial;
          display: list-item;
          float: none;
          left: initial;
          position: initial;
          top: initial;
          width: auto;
          &:before {
            font-weight:bold;
          }
        }
      }
    }
    .paragraphImage {
      display:block;
      width: 48%;
      margin: 0;
      padding: 0;
      float: right;
      margin-bottom: 3em;
      margin-top: 3em;
      img {
        width: 100%;
      }
    }
    .orgChart {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align:center;
      img{
        display: inline-block;
        width: auto;
        height: 60vh;
        margin: 1em auto 3em;
      } 
    }
  }
} 
.l-section {
  .contentDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 10%;
    max-width:85%;
    position: relative;
    width:85%;
  }
}
.rslides_tabs {
  text-align: right;
  li {
    display: inline-block;
    background: #3c80cb;
    color: white;
    padding: 1px 5px;
    margin: 0 4px;
    width: 10px;
    text-align: center;
    a {
      text-decoration:none;
      color: white;
    }
    &:hover {
      background: #0e3e65;
    }
    &.rslides_here {
      background: #8ac0ec;
    }
  }
}

.rslides_nav {
    display: inline-block;
    background: #3c80cb;
    color: white;
    padding: 1px 5px;
    margin: 0 4px;
    width: 10px;
    text-align: center;
  &.prev {
    position: absolute;
    right: 0;
  }
}

#intro {
  h2 {
    margin-top: 0;
  }
}